.educationForm {
    background-color: var(--white);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    /*box-shadow: 0 0 10px var(--dark-blue);*/
    max-width: 28em;
}

.educationForm h2 {
    text-align: left;
    color: var(--darker-blue);
    margin-bottom: 0.5em;
    font-size: 28px;
}

.datesRow {
    display: flex;
    gap: 1em;
}

.datesRow input {
    padding: 0.5em;
    font-size: 16px;
    border-radius: 1em;
    border: none;
    background-color: var(--light-gray);
    flex: 1;
}

.educationForm form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}