* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --white: #FFFFFF;
    --light-gray: #e9ecef;
    --gray: #E0E1DD;
    --dark-gray: #6c757d;
    --light-blue: #778DA9;
    --medium-blue: #415A77;
    --dark-blue: #1B263B;
    --darker-blue: #0D1B2A;
}

body {
    background-color: var(--gray);
}