:root {
    --white: #FFFFFF;
    --light-gray: #e9ecef;
    --gray: #E0E1DD;
    --dark-gray: #6c757d;
    --light-blue: #778DA9;
    --medium-blue: #415A77;
    --dark-blue: #1B263B;
    --darker-blue: #0D1B2A;
}

.personalInformationForm {
    background-color: var(--white);
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    /*box-shadow: 0 0 10px var(--dark-blue);*/
    max-width: 28em;
}

.personalInformationForm h2 {
    text-align: left;
    color: var(--darker-blue);
    margin-bottom: 0.5em;
    font-size: 28px;
}

.personalInformationForm form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.nameRow {
    display: flex;
    gap: 1em;

}

.row {
    display: flex;
    flex-direction: column;
}

.nameRow input {
    padding: 0.5em;
    font-size: 16px;
    border-radius: 1em;
    border: none;
    background-color: var(--light-gray);
    flex: 1;
}

.row input {
    padding: 0.5em;
    font-size: 16px;
    border-radius: 1em;
    border: none;
    background-color: var(--light-gray);
}

input::placeholder {
    color: var(--dark-gray);
}